<h3>Thêm sách</h3>
<div class="container">
    <form [formGroup]="productForm" (ngSubmit)="onHandleSubmit()"  class="form-cate">
        <button routerLink="categories" class="btn btn-warning">Danh sách</button>
        <hr>
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <p class="form-label">Tên sách</p>
                    <input type="text" class="form-control"  formControlName="name" placeholder="Nhập tên sách">
                </div>
                <div class="form-outline boxung">
                    <p >Giá gốc</p>
                    <input  type="text" class="form-control" formControlName="list_price" >
                </div>
                <div class="form-outline boxung">
                    <p >Giá khuyến mãi</p>
                    <input  type="text" class="form-control" formControlName="original_price">
                </div>
                <div class="form-outline boxung">
                    <p >Nhập ảnh </p>
                    <input  type="text" class="form-control" formControlName="images" rows="10" placeholder="Nhập ảnh" />
                </div>
                <div class="form-outline boxung">
                    <p >Mô tả sản phẩm </p>
                    <textarea type="text" class="form-control" formControlName="description" placeholder="Nhập mô tả"></textarea>
                </div>
            </div>
        </div>
        <button type="submit" [disabled]="!productForm.valid" class="btn btn-primary btn-block mb-4">submit</button>
    </form>
</div>