<div class="container">
    <button routerLink="add" class="btn btn-warning">Add Categories</button>
    <div class="row">
        <div class="col-lg-8 col-md-10 ml-auto mr-auto">
            <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th width="20%" class="text-center">STT</th>
                        <th>Name</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let cate of cates; let i = index">
                        <td class="text-center">{{i + 1}}</td>
                        <td>{{cate.name}}</td>
                        <td class="td-actions text-right d-flex">
                            <button (click)="removeCate(cate._id)" type="button" class="btn mx-2 btn-danger">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                            <button [routerLink]="['categories/edit', cate._id]"  type="button" class="btn mx-2 btn-success">
                                <i class="fas fa-edit"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>