<div id="container">
    
<div class="detail-product">
    <div class="main-sidebar">
        <div class="sidebar-img">
            <div class="">
                <div class="sub-sidebar-img" *ngIf="product.images">
                    <img width="70" class="demo w3-opacity w3-hover-opacity-off" *ngFor="let image of product.images" [src]="image.base_url" alt="Product Image" style="cursor:pointer" onclick="currentDiv(1)">
                </div>
                <div class="sub-sidebar-img" *ngIf="product.images">
                    <img width="70" class="demo w3-opacity w3-hover-opacity-off" *ngFor="let image of product.images" [src]="image.base_url" alt="Product Image" style="cursor:pointer" onclick="currentDiv(1)">
                </div>
                <div class="sub-sidebar-img" *ngIf="product.images">
                    <img width="70" class="demo w3-opacity w3-hover-opacity-off" *ngFor="let image of product.images" [src]="image.base_url" alt="Product Image" style="cursor:pointer" onclick="currentDiv(1)">
                </div>
                
            </div>
        </div>
        <div class="main-img">
            <div *ngIf="product.images">
                <img class="mySlides" width="400" *ngFor="let image of product.images" [src]="image.base_url" alt="Product Image" style="">
            </div>
            <img class="mySlides" width="400" src="../../../assets/3900000125482-2.jpg" style="display:none">
            <img class="mySlides" width="400" src="../../../assets/3900000125482-3.jpg" style="display:none">
        </div>
    </div>
    <div class="content-detail-product">
        <h2 *ngIf="product">  {{ product.name }}</h2>
        <div class="detail-info">
           
        </div>
        <div class="">
            <p style="font-size: 30px" class="detail-additional cate-price">{{product.list_price}}đ</p>
            <p class="detail-additional  product-discount">-35%</p>
        </div>
        <p class="detail-sale cate-price-sale">{{product.original_price}}  đ</p>
        <!-- <div class="input-group">
            <input type="button" value="-" class="button-minus" data-field="quantity">
            <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
            <input type="button" value="+" class="button-plus" data-field="quantity">
        </div> -->
        <div class="detail-btn">
            <button class="btn-cart">Thêm vào giỏ hàng</button>
            <button class="btn-buy">Mua ngay</button>
        </div>
    </div>
</div>
<div class="product-relate">
    <div class="title-product">
        <h3>XU HƯỚNG MUA SẮM</h3>
    </div>
    <div class="products">
        <div class="product">
            <img width="200" src="../../../assets/img/products/product.jpg" alt="">
            <p class="name-product">Anh Không Bận, Chỉ Là Không Nhớ Em (Tái Bản 2023)</p>
            <p class="price-product">75.650đ</p>
            <p class="price-sale">89.000đ</p>
            <div class="product-sale">
                <p>10%</p>
            </div>
        </div>
        <div class="product">
            <img width="200" src="../../../assets/img/products/product.jpg" alt="">
            <p class="name-product">Anh Không Bận, Chỉ Là Không Nhớ Em (Tái Bản 2023)</p>
            <p class="price-product">75.650đ</p>
            <p class="price-sale">89.000đ</p>
            <div class="product-sale">
                <p>10%</p>
            </div>
        </div>
        <div class="product">
            <img width="200" src="../../../assets/img/products/product.jpg" alt="">
            <p class="name-product">Anh Không Bận, Chỉ Là Không Nhớ Em (Tái Bản 2023)</p>
            <p class="price-product">75.650đ</p>
            <p class="price-sale">89.000đ</p>
            <div class="product-sale">
                <p>10%</p>
            </div>
        </div>
        <div class="product">
            <img width="200" src="../../../assets/img/products/product.jpg" alt="">
            <p class="name-product">Anh Không Bận, Chỉ Là Không Nhớ Em (Tái Bản 2023)</p>
            <p class="price-product">75.650đ</p>
            <p class="price-sale">89.000đ</p>
            <div class="product-sale">
                <p>10%</p>
            </div>
        </div>
        <div class="product">
            <img width="200" src="../../../assets/img/products/product.jpg" alt="">
            <p class="name-product">Anh Không Bận, Chỉ Là Không Nhớ Em (Tái Bản 2023)</p>
            <p class="price-product">75.650đ</p>
            <p class="price-sale">89.000đ</p>
            <div class="product-sale">
                <p>10%</p>
            </div>
        </div>
    </div>
</div>
<div class="info-product">
    <h3>Thông tin sản phẩm</h3>
    <table>
        <tbody>
          
            <tr>
                <th>Công ty phát hành</th>
                <td>	{{product.publishing_company}}</td>
            </tr>
            <tr>
                <th>Ngày xuất bản</th>
                <td>	{{product.publication_date}}</td>
            </tr>
            <tr>
                <th>Kích thước</th>
                <td>	{{product.size}}</td>
            </tr>
            <tr>
                <th>Loại bìa</th>
                <td>{{product.cover_type}}</td>
            </tr>
            <tr>
                <th>Số trang</th>
                <td>{{product.num_of_pages}}</td>
            </tr>
            
        </tbody>
    </table>
    <hr>
    <div class="detail-content">
        <h5 *ngIf="product" > {{ product.name }}</h5>
        <p>{{ product.description }}</p>
    </div>
</div>
</div>
