<div class="detail-product">
    <div class="main-sidebar">
        <div class="sidebar-img">
            <div class="">
                <div class="sub-sidebar-img">
                    <img width="70" class="demo w3-opacity w3-hover-opacity-off" src="../../../assets/3900000125482-1_3_.png" style="cursor:pointer" onclick="currentDiv(1)">
                    </div>
                <div class="sub-sidebar-img">
                    <img width="70" class="demo w3-opacity w3-hover-opacity-off" src="../../../assets/3900000125482-2.jpg" style="cursor:pointer" onclick="currentDiv(2)">
                </div>
                <div class="sub-sidebar-img">
                    <img width="70" class="demo w3-opacity w3-hover-opacity-off" src="../../../assets/3900000125482-3.jpg" style="cursor:pointer" onclick="currentDiv(3)">
                </div>
            </div>
        </div>
        <div class="main-img">
            <img class="mySlides" width="400" src="../../../assets/3900000125482-1_3_.png" style="display:none">
            <img class="mySlides" width="400" src="../../../assets/3900000125482-2.jpg" style="">
            <img class="mySlides" width="400" src="../../../assets/3900000125482-3.jpg" style="display:none">
        </div>
    </div>
    <div class="content-detail-product">
        <h3>Bộ Tranh Tương Tác Cô Tiên Xanh - Tiệm Cơm Tấm Sườn Bì Chả</h3>
        <div class="detail-info">
            <div class="sub-info">
                <p>Nhà cung cấp: <span>HỘ KINH DOANH CÔ TIÊN XANH</span></p>
                <p>Xuất xứ: <span>Việt Nam</span></p>
            </div>
            <div class="sub-info">
                <p>Thương hiệu: <span>Cô Tiên Xanh</span></p>
            </div>
        </div>
        <div class="">
            <p style="font-size: 30px" class="detail-additional cate-price">96.850 đ</p>
            <p class="detail-additional  product-discount">-35%</p>
        </div>
        <p class="detail-sale cate-price-sale">96.850 đ</p>
        <!-- <div class="input-group">
            <input type="button" value="-" class="button-minus" data-field="quantity">
            <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
            <input type="button" value="+" class="button-plus" data-field="quantity">
        </div> -->
        <div class="detail-btn">
            <button class="btn-cart">Thêm vào giỏ hàng</button>
            <button class="btn-buy">Mua ngay</button>
        </div>
    </div>
</div>
<div class="product-relate">
    <div class="title-product">
        <h3>XU HƯỚNG MUA SẮM</h3>
    </div>
    <div class="products">
        <div class="product">
            <img width="200" src="../../../assets/img/products/product.jpg" alt="">
            <p class="name-product">Anh Không Bận, Chỉ Là Không Nhớ Em (Tái Bản 2023)</p>
            <p class="price-product">75.650đ</p>
            <p class="price-sale">89.000đ</p>
            <div class="product-sale">
                <p>10%</p>
            </div>
        </div>
        <div class="product">
            <img width="200" src="../../../assets/img/products/product.jpg" alt="">
            <p class="name-product">Anh Không Bận, Chỉ Là Không Nhớ Em (Tái Bản 2023)</p>
            <p class="price-product">75.650đ</p>
            <p class="price-sale">89.000đ</p>
            <div class="product-sale">
                <p>10%</p>
            </div>
        </div>
        <div class="product">
            <img width="200" src="../../../assets/img/products/product.jpg" alt="">
            <p class="name-product">Anh Không Bận, Chỉ Là Không Nhớ Em (Tái Bản 2023)</p>
            <p class="price-product">75.650đ</p>
            <p class="price-sale">89.000đ</p>
            <div class="product-sale">
                <p>10%</p>
            </div>
        </div>
        <div class="product">
            <img width="200" src="../../../assets/img/products/product.jpg" alt="">
            <p class="name-product">Anh Không Bận, Chỉ Là Không Nhớ Em (Tái Bản 2023)</p>
            <p class="price-product">75.650đ</p>
            <p class="price-sale">89.000đ</p>
            <div class="product-sale">
                <p>10%</p>
            </div>
        </div>
        <div class="product">
            <img width="200" src="../../../assets/img/products/product.jpg" alt="">
            <p class="name-product">Anh Không Bận, Chỉ Là Không Nhớ Em (Tái Bản 2023)</p>
            <p class="price-product">75.650đ</p>
            <p class="price-sale">89.000đ</p>
            <div class="product-sale">
                <p>10%</p>
            </div>
        </div>
    </div>
</div>
<div class="info-product">
    <h3>Thông tin sản phẩm</h3>
    <table>
        <tbody>
            <tr>
                <th>Mã hàng</th>
                <td>3900000125482</td>
            </tr>
            <tr>
                <th>Độ Tuổi</th>
                <td>	6+</td>
            </tr>
            <tr>
                <th>Tên Nhà Cung Cấp</th>
                <td>	HỘ KINH DOANH CÔ TIÊN XANH</td>
            </tr>
            <tr>
                <th>Thương Hiệu</th>
                <td>	Cô Tiên Xanh</td>
            </tr>
            <tr>
                <th>Xuất Xứ Thương Hiệu</th>
                <td>Việt Nam</td>
            </tr>
            <tr>
                <th>Nơi Gia Công & Sản Xuất</th>
                <td>Việt Nam</td>
            </tr>
            <tr>
                <th>Chất liệu</th>
                <td>Giấy</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <div class="detail-content">
        <h5>Bộ Tranh Tương Tác Cô Tiên Xanh - Tiệm Coffee</h5>
        <p>- Hãy thử trở thành cô chủ bán cơm sườn trên phố, có thể tự tay làm nên 01 dĩa cơm sườn nóng hổi, siêu ngon tặng kèm bìa sơ mi bảo quản tranh.

    - Bé thỏa thích vui chơi với những hình ảnh ngộ nghĩnh, đáng yêu với chất liệu an toàn, dày dặn, không chứa chất độc hại

    - Chất lượng mực in cao cấp có màu sắc tươi sáng, bền màu.

    - Bé có thể tô màu thêm cho những sản phẩm, vật dụng trong bộ đồ chơi theo ý thích cá nhân, tạo sự khác biệt cũng như tăng sự sống động của bộ sản phẩm.

    - Bé có những trò chơi thú vị mới sẽ giúp bé giảm thời gian gần tivi, điện thoại ... không còn phụ thuộc vào nguồn giải trí dễ gây ảnh hưởng không tốt đến bé. Ba mẹ hướng dẫn và cùng bé trải nghiệm bộ sản phẩm này nhé!

    Mã hàng	3900000125482
    Độ Tuổi	6+
    Tên Nhà Cung Cấp	HỘ KINH DOANH CÔ TIÊN XANH
    Thương Hiệu	Cô Tiên Xanh
    Xuất Xứ Thương Hiệu	Việt Nam
    Nơi Gia Công & Sản Xuất	Việt Nam
    Màu sắc	Nhiều màu
    Chất liệu	Giấy
    Trọng lượng (gr)	180
    Kích Thước Bao Bì	29.7 x 21 x 0.3 cm
    Sản phẩm bán chạy nhất	Top 100 sản phẩm Hướng Nghiệp Nhập Vai bán chạy của tháng
    Giá sản phẩm trên Fahasa.com đã bao gồm thuế theo luật hiện hành. Bên cạnh đó, tuỳ vào loại sản phẩm, hình thức và địa chỉ giao hàng mà có thể phát sinh thêm chi phí khác như Phụ phí đóng gói, phí vận chuyển, phụ phí hàng cồng kềnh,...
    Bộ Tranh Tương Tác Cô Tiên Xanh - Tiệm Coffee

    - Hãy thử trở thành cô chủ bán cơm sườn trên phố, có thể tự tay làm nên 01 dĩa cơm sườn nóng hổi, siêu ngon tặng kèm bìa sơ mi bảo quản tranh.

    - Bé thỏa thích vui chơi với những hình ảnh ngộ nghĩnh, đáng yêu với chất liệu an toàn, dày dặn, không chứa chất độc hại

    - Chất lượng mực in cao cấp có màu sắc tươi sáng, bền màu.

    - Bé có thể tô màu thêm cho những sản phẩm, vật dụng trong bộ đồ chơi theo ý thích cá nhân, tạo sự khác biệt cũng như tăng sự sống động của bộ sản phẩm.

    - Bé có những trò chơi thú vị mới sẽ giúp bé giảm thời gian gần tivi, điện thoại ... không còn phụ thuộc vào nguồn giải trí dễ gây ảnh hưởng không tốt đến bé. Ba mẹ hướng dẫn và cùng bé trải nghiệm bộ sản phẩm này nhé!</p>
    </div>
</div>