.btn-delete {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  background-color: red;
  color:white;
  cursor: pointer;
margin-bottom: 10px;  }
  
  .btn-update {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    background-color: green;
    color:white;
    cursor: pointer;
  margin-bottom: 10px;
  }
  .butoon-a{
    
    justify-content: center;
  }
