<td class="text-center">{{index+1}}</td>
<td>{{product.name}}</td>
<td>{{product.list_price}}</td>
<td>{{product.original_price}}</td>
<td>{{product.description}}</td>
<td *ngIf="product.images">
<img width="200" [src]="product.images[0]" alt="">
</td>
<td class="butoon-a">
    <button class="btn btn-delete" (click)="removeItem(product._id)">
      <i class="fa-solid fa-xmark"></i>
    </button>
    <button class="btn btn-update" [routerLink]="[product._id, 'edit']">
      <i class="fas fa-edit"></i>
    </button>
</td>