<td scope="row">{{index+1}}</td>
<td scope="row">{{product.name}}</td>
<td scope="row">{{product.list_price}}</td>
<td scope="row">{{product.original_price}}</td>
<td scope="row">{{product.description}}</td>
<td scope="row" *ngIf="product.images">
<img width="200" [src]="product.images[0]" alt="">
</td>
<td class="butoon-a">
    <button class="btn btn-delete" (click)="removeItem(product._id)">Delete</button>
    <button class="btn btn-update" [routerLink]="[product._id, 'edit']">Update</button>
  </td>
  