.table-primary {
    background-color: black; /* Màu nền cho bảng */
  }
  
  .table-primary th,
  .table-primary td {
    border: 1px solid black; /* Đường viền cho các ô */
    padding: 8px; /* Khoảng cách giữa nội dung và viền của ô */
  }
  
  .table-primary th {
    background-color: #007bff; /* Màu nền cho tiêu đề cột */
    color: #fff; /* Màu chữ cho tiêu đề cột */
  }
  
  .invalid-message {
    background-color: #f8d7da; /* Màu nền đỏ nhạt cho thông báo lỗi */
    color: #721c24; /* Màu chữ đỏ đậm cho thông báo lỗi */
  }
  
  .is-invalid {
    color: red; /* Màu chữ đỏ cho trường không hợp lệ */
  }
  .table-primary th:last-child {
    width: 100%;
  }
  
    .table-container {
        margin: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .action-button {
        padding: 5px 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 3px;
    }

    .action-button:hover {
        background-color: #45a049;
    }
    .form-sub{
      margin: 0 auto; 
      width: 50vw;
      text-align: center;
      margin-top: 20px;
      border-radius: 20px;
      background-color: white;
      padding: 20px;
  }

