<div class="form-sub">
    <table class="">
        <thead>
            <tr>
                <th style="width: 5%" scope="">#</th>
                <th style="width: 10%" scope="">Name</th>
                <th style="width: 5%" scope="">List-price</th>
                <th style="width: 10%" scope="">Original_price</th>
                <th style="width: 50%" scope="">Description</th>
                <th style="width: 10%" style="width: 5%" scope="">Images</th>
                <th style="width: 30%" scope="">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr app-product-item
            *ngFor="let product of products ; let i = index"
            [product]="product"
            [index]="i"
            (onRemove)="removeItem(product._id)"
            >
                
            </tr>
           
        </tbody>
    </table>
</div>
