<div id="container">
  <div class="main-slider">
    <div class="slider">
      <div class="sliders">
        <div class="list-slide">
          <div class="item active">
            <img
              width="200px"
              src="../../../assets/img/slide/slide1.jpg"
              alt=""
            />
          </div>
          <div class="item">
            <img
              width="200px"
              src="../../../assets/img/slide/slide2.jpg"
              alt=""
            />
          </div>
          <div class="item">
            <img
              width="200px"
              src="../../../assets/img/slide/slide3.jpg"
              alt=""
            />
          </div>
          <div class="item">
            <img
              width="200px"
              src="../../../assets/img/slide/slide4.jpg"
              alt=""
            />
          </div>
          <div class="item">
            <img
              width="200px"
              src="../../../assets/img/slide/slide5.jpg"
              alt=""
            />
          </div>
          <div class="item">
            <img
              width="200px"
              src="../../../assets/img/slide/slide6.jpg"
              alt=""
            />
          </div>
        </div>
        <div class="btn-silde">
          <button id="prev" onclick="previousSlide()">
            <i class="fa-solid fa-angle-left"></i>
          </button>
          <button id="next" onclick="nextSlide()">
            <i class="fa-solid fa-angle-right"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="">
      <div class="sub-slide">
        <img src="../../../assets/img/slide/slideRight1.png" alt="" />
      </div>
      <div class="sub-slide slide-right">
        <img src="../../../assets/img/slide/slideRight2.jpg" alt="" />
      </div>
    </div>
  </div>
  <div class="banner">
    <a href=""><img src="../../../assets/img/sale/sale1.png" alt="" /></a>
    <a href=""><img src="../../../assets/img/sale/sale2.png" alt="" /></a>
    <a href=""><img src="../../../assets/img/sale/sale3.png" alt="" /></a>
    <a href=""><img src="../../../assets/img/sale/sale4.png" alt="" /></a>
  </div>
  <div class="cate">
    <div class="cate-icon">
      <a href="">
        <img width="40%" src="../../../assets/img/cate/cate1.png" alt="" />
      </a>
      <p>Flash Sale</p>
    </div>
    <div class="cate-icon">
      <a href="">
        <img width="40%" src="../../../assets/img/cate/cate2.png" alt="" />
      </a>
      <p>Mã Giảm Giá</p>
    </div>
    <div class="cate-icon">
      <a href="">
        <img width="40%" src="../../../assets/img/cate/cate3.png" alt="" />
      </a>
      <p>Xu hướng</p>
    </div>
    <div class="cate-icon">
      <a href="">
        <img width="40%" src="../../../assets/img/cate/cate4.png" alt="" />
      </a>
      <p>Sản Phẩm Mới</p>
    </div>
    <div class="cate-icon">
      <a href="">
        <img width="40%" src="../../../assets/img/cate/cate5.png" alt="" />
      </a>
      <p>Sale Thứ 3</p>
    </div>
    <div class="cate-icon">
      <a href="">
        <img width="40%" src="../../../assets/img/cate/cate6.png" alt="" />
      </a>
      <p>Văn Học</p>
    </div>
    <div class="cate-icon">
      <a href="">
        <img width="40%" src="../../../assets/img/cate/cate7.png" alt="" />
      </a>
      <p>Tâm Lý Kỹ Năng</p>
    </div>
    <div class="cate-icon">
      <a href="">
        <img width="40%" src="../../../assets/img/cate/cate8.png" alt="" />
      </a>
      <p>Manga - Comic</p>
    </div>
    <div class="cate-icon">
      <a href="">
        <img width="40%" src="../../../assets/img/cate/cate9.png" alt="" />
      </a>
      <p>Phiên Chợ Sách cũ</p>
    </div>
    <div class="cate-icon">
      <a href="">
        <img width="40%" src="../../../assets/img/cate/cate10.png" alt="" />
      </a>
      <p>Kinh Tế</p>
    </div>
  </div>
  <div class="content">
    <div class="title-product">
      <img src="../../../assets/img/ico_dealhot.png" alt="" />
      <h3>XU HƯỚNG MUA SẮM</h3>
    </div>
    <div class="products">
      <div
        [routerLink]="['/product', product._id]"
        class="product"
        *ngFor="let product of products"
      >
        <div *ngIf="product.images">
          <img width="200" [src]="product.images[0]" alt="Product Image" />
        </div>

        <p class="name-product">{{ product.name }}</p>
        <p class="price-product">{{ product.list_price }} đ</p>
        <p class="price-sale">{{ product.original_price }} đ</p>
      </div>
    </div>
  </div>
</div>
