<div class="products">
    <div class="product">
        <img width="200" src="../../../assets/img/products/product.jpg" alt="">
        <p class="name-product">Anh Không Bận, Chỉ Là Không Nhớ Em (Tái Bản 2023)</p>
        <p class="price-product">75.650đ</p>
        <p class="price-sale">89.000đ</p>
    </div>
    <div class="product">
        <img width="200" src="../../../assets/img/products/product.jpg" alt="">
        <p class="name-product">Anh Không Bận, Chỉ Là Không Nhớ Em (Tái Bản 2023)</p>
        <p class="price-product">75.650đ</p>
        <p class="price-sale">89.000đ</p>
        <div class="product-sale">
            <p>10%</p>
        </div>
    </div>
    <div class="product">
        <img width="200" src="../../../assets/img/products/product2.jpg" alt="">
        <p class="name-product">Du Hành Vào Thế Giới Y Học Tự Cổ Chí Kim</p>
        <p class="price-product">75.650đ</p>
        <p class="price-sale">89.000đ</p>
    </div>
    <div class="product">
        <img width="200" src="../../../assets/img/products/product3.jpg" alt="">
        <p class="name-product">Anh Không Bận, Chỉ Là Không Nhớ Em (Tái Bản 2023)</p>
        <p class="price-product">75.650đ</p>
        <p class="price-sale">89.000đ</p>
    </div>
    <div class="product">
        <img width="200" src="../../../assets/img/products/product4.jpg" alt="">
        <p class="name-product">Anh Không Bận, Chỉ Là Không Nhớ Em (Tái Bản 2023)</p>
        <p class="price-product">75.650đ</p>
        <p class="price-sale">89.000đ</p>
    </div>
    <div class="product">
        <img width="200" src="../../../assets/img/products/product5.jpg" alt="">
        <p class="name-product">Anh Không Bận, Chỉ Là Không Nhớ Em (Tái Bản 2023)</p>
        <p class="price-product">75.650đ</p>
        <p class="price-sale">89.000đ</p>
    </div>
</div>
<div class="cate-product">
    <h3>VĂN HỌC</h3>
    <div class="content-product">
        <div>
            <a href="">
                <img src="../../../assets/img/cate-product/cate-product1.jpg" alt="">
            </a>
        </div>
        <div class="main-cate-product">
            <div class="cate-grid-products">
                <div class="cate-products">
                    <div class="cate-product-img">
                        <img width="100" src="../../../assets/img/products/prodcut6.jpg" alt="">
                    </div>
                    <div class="sub-product-content">
                        <p class="cate-name-product">Cái Ghế Trống (Tái Bản 2018)</p>
                        <div class="cate-price-discount">
                            <p class="cate-price">96.850 đ</p>
                            <p class="product-discount">-35%</p>
                        </div>
                        <p class="cate-price-sale">96.850 đ</p>
                    </div>
                </div>
                <div class="cate-products">
                    <div class="cate-product-img">
                        <img width="100" src="../../../assets/img/products/prodcut6.jpg" alt="">
                    </div>
                    <div class="sub-product-content">
                        <p class="cate-name-product">Cái Ghế Trống (Tái Bản 2018)</p>
                        <div class="cate-price-discount">
                            <p class="cate-price">96.850 đ</p>
                            <p class="product-discount">-35%</p>
                        </div>
                        <p class="cate-price-sale">96.850 đ</p>
                    </div>
                </div>
                <div class="cate-products">
                    <div class="cate-product-img">
                        <img width="100" src="../../../assets/img/products/prodcut6.jpg" alt="">
                    </div>
                    <div class="sub-product-content">
                        <p class="cate-name-product">Cái Ghế Trống (Tái Bản 2018)</p>
                        <div class="cate-price-discount">
                            <p class="cate-price">96.850 đ</p>
                            <p class="product-discount">-35%</p>
                        </div>
                        <p class="cate-price-sale">96.850 đ</p>
                    </div>
                </div>
                <div class="cate-products">
                    <div class="cate-product-img">
                        <img width="100" src="../../../assets/img/products/prodcut6.jpg" alt="">
                    </div>
                    <div class="sub-product-content">
                        <p class="cate-name-product">Cái Ghế Trống (Tái Bản 2018)</p>
                        <div class="cate-price-discount">
                            <p class="cate-price">96.850 đ</p>
                            <p class="product-discount">-35%</p>
                        </div>
                        <p class="cate-price-sale">96.850 đ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>