<h2>Lịch sử mua hàng</h2>
<div class="container">
<table>
  <thead>
    <tr>
      <th>Tổng thanh toán</th>
      <th>Địa chỉ giao hàng</th>
      <th>Tên sản phẩm</th>
      <th>Giá bán</th>
      <th>Giá gốc</th>
      <th>Mô tả</th>
      <th>Số lượng</th>
      <th>Trạng thái</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let history of purchaseHistory">
      <tr *ngFor="let item of history?.items">
        <td>{{ history.totalPayment }}</td>
        <td>{{ history.address }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.list_price }}</td>
        <td>{{ item.original_price }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.total }}</td>
        <td style="color:red">Đang chờ</td>
      </tr>
    </ng-container>
  </tbody>
</table>
</div>
