<div class="container">
    <form class="form-cate" [formGroup]="cateForm" (ngSubmit)="onHandleSubmit()">
        <button routerLink="categories" class="btn btn-warning">Danh sách</button>
        <hr>
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <p class="form-label" for="form3Example1">First name</p>
                    <input type="text" class="form-control"  formControlName="name" />
                </div>
            </div>
        </div>
        <button type="submit" [disabled]="!cateForm.valid" class="btn btn-primary btn-block mb-4">Submit</button>
    </form>
</div>