<button routerLink="categories" class="btn btn-warning">Add Categories</button>
<form [formGroup]="cateForm" (ngSubmit)="onHandleSubmit()">
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="form3Example1">First name</label>
                <input type="text" class="form-control"  formControlName="name" />
            </div>
        </div>
    </div>
    <button type="submit" [disabled]="!cateForm.valid" class="btn btn-primary btn-block mb-4">Submit</button>
</form>