<div id="container">
  <div class="cart">
    <h3>Giỏ hàng <span>( 2 sản phẩm)</span></h3>
    <div class="option">
      <div class="option-cart">
        <div>
          <div class="title-cart">
            <div class="checkbox">
              <h3>Sản phẩm</h3>
            </div>
            <div class="quantity">
              <p>Số lượng</p>
              <p>Thành tiền</p>
            </div>
          </div>
          <div class="product-cart">
            <div *ngFor="let product of products">
              <div class="detail-product-cart">
                <div class="checkbox"></div>
                <div class="img-product-cart">
                  <img
                    width="100"
                    *ngIf="product.images"
                    [src]="product.images[0]"
                    alt=""
                  />
                  <div class="content-cart">
                    <p>{{product.name}}</p>
                    <div class="price-cart">
                      <p class="price-product">{{product.original_price}} đ</p>
                      <p class="price-sale">{{product.list_price}} đ</p>
                    </div>
                  </div>
                </div>
                <div class="quantity-total">
                  <div class="quantity-detail">
                    <input type="number" name="" [value]="product.total" (change)="updateTotalPrice($event, product._id)"/>
                  </div>
                  <div class="total">
                    <p class="price-product"  *ngIf="product.total && product.original_price">{{product.total * product.original_price}} đ</p>
                  </div>
                </div>
              </div>
              <div class="hr">
                <p class=""></p>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="pay">
        <div class="pay-total">
          <h3>Tổng số tiền</h3>
          <p>{{total}}đ</p>
        </div>
        <button class="btn-pay">Mua ngay</button>
        <p class="title-sale">(Giảm giá trên web chỉ áp dụng cho bán lẻ)</p>
      </div>
    </div>
  </div>
</div>
